.main {
  .nav {
    padding: 1rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0;
      height: 0;
      align-items: center;
      text-align: center;
      display: flex;
    }
  }
  form {
    width: clamp(300px, 100vw, 500px);
    // background: #000;
    margin: auto;
    // background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    textarea {
      width: 240px;
      height: 100%;
      resize: none;
    }
  }
}
.intro {
  text-align: center;
  color: #333;
}

.form {
  padding: 3rem;
  .listOnSite {
    border: 1px solid hsl(0, 0%, 20%,0.2);
    border-radius: 10px;
  padding: 3rem;
    display: flex;
    flex-direction: column;
    h2 {
      color: #333;
      margin-top: 2rem;
      &:last-of-type{
        margin-top: 4rem;
      }
    }
    div {
      display: flex;
      gap: 3px;
    }
    button{
      margin:2rem auto;

      // background: #000;
    }
  }
}
