.main {
    --screen-pd: 0.01rem 2rem;
    min-height: 100vh;
    padding: var(--screen-pd);
    margin: 0;
    .grid {
        margin-top: 5rem;
        gap: 1rem;
        grid-template-columns: clamp(150px, 30%, 250px) 1fr 1fr;
        .nav {
            margin-top: 1rem;
            width: clamp(150px, 30%, 250px);
            max-width: 100vw;
            margin: 0;
            padding: 0;
            // background: #000;
        }
        .layout {
            margin-left: calc(clamp(150px, 30%, 250px) + 2rem);
            margin-top: 3rem;
            grid-column: span 2;
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
    .nav {
        padding: 1rem 0rem;
        margin: 0;
        margin-left: -2rem;
        padding-right: 1rem;
        width: 100%;
        background: white;
        position: fixed;
        width: 100%;
        h2 {
            padding: 0;
            margin: 0;
        }
    }
}